<!DOCTYPE html>
<html>
    <head>
        <title>Moonlighting S.A.</title>
        <meta charset="UTF-8" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/stylesheet.css" />
        <link href='http://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet' type='text/css'>
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <div id="header">
            <div id="header-wraper">
                <p><span class="main-title">Moonlighting S.A.</span> <span class="main-subtitle">Translations</span></p>

                <ul id="nav">
                    {% load custom_tags %}
                    {% if user.is_authenticated %}
                        <li><a class="{% active request '^/translate/$' %}" href="/i18n/translate/">Translate</a></li>
                        <li><a class="{% active request '^/modify/$' %}" href="/i18n/modify/">Work done</a></li>
                        <li><a class="{% active request '^/guidelines/$' %}" href="/i18n/guidelines/">Guidelines</a></li>
                        <li><a class="{% active request '^/profile/$' %}" href="/i18n/profile/">Profile</a></li>
                        <li><a class="{% active request '^/logout/$' %}" href="/i18n/logout/">Logout</a></li>
                    {% else %}
<!--
                        <li><a href="/i18n/register/">Register</a></li>
-->
                        <li><a href="/i18n/login/">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div id="frame">
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
