{% extends "base.html" %}
{% block content %}
{% load custom_tags %}
<h1>Translate strings</h1>
{% if strings %}
    <form action="" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset.forms %}
            {{ form.id }}
            <div class="string-frame">
                <div class="string">
                    <p>
                        <span>Original text: </span>{{ form.instance.text }}
                        ({{ form.instance.text|count_words }} word{% if form.instance.text|plural %}s{% endif %})
                    </p>
                    {% if form.instance.description %}<p><span>Description: </span>{{ form.instance.description }}{% endif %}
                    {{ form.as_p }}
                    <p class="small-keys">
                        {% if form.instance.android_name_string %}
                            {{ form.instance.android_name_string }},
                        {% endif %}
                        {% if form.instance.ios_name_string %}
                            {{ form.instance.ios_name_string }},
                        {% endif %}
                        {% if form.instance.wp_name_string %}
                            {{ form.instance.wp_name_string }},
                        {% endif %}
                        {% if form.instance.osx_name_string %}
                            {{ form.instance.osx_name_string }},
                        {% endif %}
                        {% if form.instance.w8_name_string %}
                            {{ form.instance.w8_name_string }},
                        {% endif %}
                    </p>
                </div>
            </div>
        {% endfor %}
        <input type="submit" value="Save" />
    </form>

    <div class="pagination">
        <span class="step-links">
            {% if strings.has_previous %}
                <a href="?page={{ strings.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ strings.number }} of {{ strings.paginator.num_pages }}
            </span>

            {% if strings.has_next %}
                <a href="?page={{ strings.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

    <div>
        <table class="translation-stats">
            <tr>
                <td>Words translated: {{ words_translated }}</td>
                <td>Words remaining: {{ words_remaining }}</td>
            </tr>
            <tr>
                <td>Sentences translated: {{ sentences_translated }}</td>
                <td>Sentences remaining: {{ sentences_remaining }}</td>
            </tr>
        </table>
    </div>
{% else %}
    <p>You have no more strings to translate.</p>
{% endif %}
{% endblock %}
