{% extends "base/base.html" %}
{% block content %}
<h1>Guidelines</h1>
<p>Please read carefully this guide before strarting to translate.</p>
<p>Here is a list a things you need to know and pay attention to while translating.</p>

<ul class="list-unstyled">
    <li>
        <h3>1. What are these words about?</h3>
        <p>All sentences you will translate are part of the mobile applications we are developing.</p>
        <p>If you want to know what our apps are about and what they do, you can visit <a href="">our website</a> or see <a href="">our store</a>.</p>
    </li>
    <li>
        <h3>2. Uppercase and lowercase letters</h3>
        <p>It is important that you respect uppercase and lowercase in the original sentence (the sentence in English) at all times. For example:</p>
        <p><span class="alert alert-dismissable alert-info">Hello, world</span> would be translated in Spanish as <span class="alert alert-dismissable alert-info">Hola, mundo</span>.</p>
        <p><span class="alert alert-dismissable alert-info">Hello, World</span> would be translated as <span class="alert alert-dismissable alert-info">Hola, Mundo</span>.</p>
    </li>
    <li>
        <h3>3. Punctuation</h3>
        <p>The same way, you must follow the same punctuation as the original string.</p>
        <p><span class="alert alert-dismissable alert-info">Hello, world.</span> would be translated in Spanish as <span class="alert alert-dismissable alert-info">Hola, mundo.</span>.</p>
        <p><span class="alert alert-dismissable alert-info">Hello, world</span> would be translated as <span class="alert alert-dismissable alert-info">Hola, mundo</span>.</p>
        <p><span class="alert alert-dismissable alert-info">Hello, world!</span> would be translated as <span class="alert alert-dismissable alert-info">¡Hola, mundo!</span>.</p>
    </li>
    <li>
        <h3>4. String formatting</h3>
        <p>Some sentences contain symbols that later our apps will replace with another letter, sentence or number. You'll normally encounter these symbols as <span class="alert alert-dismissable alert-info">%s</span> or <span class="alert alert-dismissable alert-info">%@</span>.</p>
        <p>They act like wildcards, so a sentence like <span class="alert alert-dismissable alert-info">Hello, %s!</span>, after our app replaces the symbol with the corresponding name, could be <span class="alert alert-dismissable alert-info">Hello, John!</span>, <span class="alert alert-dismissable alert-info">Hello, Mary!</span>, <span class="alert alert-dismissable alert-info">Hello, beautiful person!</span>, etc.</p>
        <p>Knowing this, you should follow the pattern so the sentence makes sense in the translated language. For example:</p>
        <p><span class="alert alert-dismissable alert-info">Does %s like apples?</span> would be translated in Spanish as <span class="alert alert-dismissable alert-info">¿A %s le gustan las manzanas?</span>.</p>
    </li>
    <li>
        <h3>5. String description</h3>
        <p>Some strings have a description of the context they are used in, so you can choose the most appropriate translation.</p>
    <li>
        <h3>6. Other symbols</h3>
        <p>You may also encounter series of symbol in sentences, like <span class="alert alert-dismissable alert-info">&amp;#8230;</span> in <span class="alert alert-dismissable alert-info">Processing&amp;#8230;</span>. These codes replace special characters in the sentence.</p>
        <p>To see what each symbol means, you can check a <a href="http://www.ascii.cl/htmlcodes.htm">list of HTML codes</a> (in this case, <span class="alert alert-dismissable alert-info">&amp;#8230;</span> is the code for the horizontal ellipsis character, <span class="alert alert-dismissable alert-info">&#8230;</span>), but you must respect them in your translation, i.e.:</p>
        <p><span class="alert alert-dismissable alert-info">Processing&amp;#8230;</span> would be translated in Spanish as <span class="alert alert-dismissable alert-info">Procesando&amp;#8230;</span>.</p>
    <li>
        <h3>7. Typos and non-translatable strings</h3>
        <p>It is possible that you encounter errors in the original sentences. These could be typographical or even ortographical. We would be very thankful if you let us know in case you find one of these!</p>
        <p>Also, there are some strings in our database that are not supposed to be translated, for example our apps' names. If you find a sentence that doesn't look at all like it should be shown to our users or translated, please let us know too!</p>
    </li>
</ul>
{% endblock %}
