{% extends "base/base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block extrawellclass %}col-lg-8 col-lg-offset-2{% endblock %}
{% block content %}
{% load custom_tags %}
<h1>Translate</h1>
{% if strings %}
<form action="" method="post">
	{% csrf_token %}
	{{ formset.management_form }}
	{% for form in formset.forms %}
	{{ form.id }}
	<div class="panel panel-default">
		<div class="panel-body">
			<label>Original text ({{ form.instance.text|count_words }} word{{ form.instance.text|count_words|pluralize }}):</label>
			<p class="alert alert-dismissable alert-info">
				{{ form.instance.text|linebreaksbr }}
			</p>
			{% if form.instance.description %}
			<p>
				<span>Description: </span>{{ form.instance.description }}{% endif %}
				{{ form.as_p }}
		</div>
	</div>
	{% endfor %}
	<input type="submit" value="Save" class="btn btn-primary" />
</form>

<ul class="pagination pagination-sm">
	<li class="{% if not strings.has_previous %}disabled{% endif %}">
		<a href="{% url 'translate' %}?page=1">&laquo;</a>
	</li>
	{% if strings.has_previous %}
	<li>
		<a href="{% url 'translate' %}?page=strings.previous_page_number">{{ strings.previous_page_number }}</a>
	</li>
	{% endif %}
	<li class="active">
		<a href="{% url 'translate' %}?page=strings.number">{{ strings.number }}</a>
	</li>
	{% if strings.has_previous %}
	<li>
		<a href="{% url 'translate' %}?page=strings.next_page_number">{{ strings.next_page_number }}</a>
	</li>
	{% endif %}
	<li class="{% if not strings.has_next %}disabled{% endif %}">
		<a href="{% url 'translate' %}?page=strings.paginator.num_pages">&raquo;</a>
	</li>
</ul>

<div class="col-lg-6 translation-stats">
	<div class="bs-example">
		<ul class="list-group">
			<li class="list-group-item">
				<span class="badge">{{ words_translated }}</span>
				Words translated
			</li>
			<li class="list-group-item">
				<span class="badge">{{ words_remaining }}</span>
				Words remaining
			</li>
			<li class="list-group-item">
				<span class="badge">{{ sentences_translated }}</span>
				Sentences translated
			</li>
			<li class="list-group-item">
				<span class="badge">{{ sentences_remaining }}</span>
				Sentences remaining
			</li>
		</ul>
	</div>
</div>
{% else %}
<p>
	You don't have strings to translate.
</p>
{% endif %}
{% endblock %}
{% block extrascript %}
<script src="{% static 'js/jquery.autogrow-textarea.js' %}"></script>
<script>
	$(function() {
		$('textarea').autogrow();
	}); 
</script>
{% endblock %}